body{
    padding:0;
    margin:0;
}

#nombre-apellido{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 523px;
    height: 30px;
    margin: 20px 20px 20px 20px;
}

#nuevo-usuario{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 523px;
    height: 30px;
    margin: 20px 20px 20px 20px;
}

#password{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 523px;
    height: 30px;
    margin: 20px 20px 20px 20px;
}

#password2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 523px;
    height: 30px;
    margin: 20px 20px 20px 20px;
}

.nuevo-usuario {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

.nuevo-usuario h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.nuevo-usuario p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

#encabezado{
    background-color: #ff004c;
    padding-left: 25px;
    padding-right: 1100px;
	height: 70px;
    width: 240px;
}

#validacion-usuario{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #ff004c;
    height: 30px;
    width: 120px;
    margin: 20px 20px 20px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
