body{
    padding:0;
    margin:0;
}

#encabezado{
    background-color: #fa0050;
    padding-left: 25px;
    padding-right: 1084px;
	height: 70px;
    width: 240px;
}

.encabezado-final{
    background-color: #fa0050;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

#cerrar-sesion{
    margin-left: 1220px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #fa0050;
    height: 30px;
    width: 120px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.título{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#img-pedidos{
    margin-left: 55px;
    margin-top: 30px;
    width: 350px;
    height: 200px;
    float: left;
}

#usuario{
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    margin-right: 55px;
}
#texto-hamburguesa{
    font-family: 'Montserrat', sans-serif;
    float: left;
}

#texto2{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

#precio-final-hamburguesa{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    display: inline-block;
    margin-right: 55px;
}

#menu{
    width: 50%;
    margin: 20px auto;
    padding: 15px;
}

#img-pedidos{
    float: left;
    margin-right: 15px;
    width: 350px;
    height: 200px;
}

#usuario{
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    margin-right: 55px;
}

#texto2{
    font-family: 'Montserrat', sans-serif;
}

#texto3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#precio-final{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    display: inline-block;
    margin-right: 55px;
}

#comprarMenu1{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-size: medium;
    background-color: #fa0050;
    height: 30px;
    width: 163px;
    margin: 20px 55px 20px;
    float: right;
    border-radius: 3px;
    border: none;
    cursor: pointer;

}
#comprarMenu2{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-size: medium;
    background-color: #fa0050;
    height: 30px;
    width: 163px;
    margin: 20px 55px 20px;
    float: right;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

#comprarMenu3{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-size: medium;
    background-color: #fa0050;
    height: 30px;
    width: 163px;
    margin: 20px 55px 20px;
    float: right;
    border-radius: 3px;
    border: none;
    cursor: pointer;   
}
#comprarMenu4{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-size: medium;
    background-color: #fa0050;
    height: 30px;
    width: 163px;
    margin: 20px 55px 20px;
    float: right;
    border-radius: 3px;
    border: none;
    cursor: pointer;  
}

